Repository gardener/k8syncer, pull requests merged in 2024-02, with the labels that each got.

#13 Rework pipeline and surrounding scripts
  .ci/component
  .ci/component_descriptor
  .ci/ensure-make
  .ci/image
  .ci/pipeline_definitions
  .ci/prepare-docker
  .ci/update-version
  .ci/verify
  .gitignore
  .golangci.yaml
  Makefile
  blueprints/k8syncer/blueprint.yaml
  charts/k8syncer/templates/configmap-k8syncer.yaml
  charts/k8syncer/templates/deployment.yaml
  charts/k8syncer/templates/secret-imagepull.yaml
  charts/k8syncer/templates/secret-kubeconfig.yaml
  charts/k8syncer/templates/serviceaccount.yaml
  charts/k8syncer/values.yaml
  components/artifact-index.json
  components/blobs/sha256.3f1c011ba535cb964e94d42dd49382e1ff624694bd89f39e3af71c733cc5fa08
  components/blobs/sha256.46b339ce3b4caa8b30b10aca177d9274b06ae6003e54ccfd0065d434edbdcb71
  components/blobs/sha256.77f457a29a0fdcd39417712c07cb170813a95be911c5242a3401bb06cc023cfb
  hack/build-chart.sh
  hack/build-component.sh
  hack/check.sh
  hack/components.yaml
  hack/format.sh
  hack/generate-docs-index.sh
  hack/get-registry.sh
  hack/install-helm.sh
  hack/install-jq.sh
  hack/install-requirements.sh
  hack/lib.sh
  hack/prepare-docker-builder.sh
  hack/push-chart.sh
  hack/push-component.sh
  hack/setup-testenv.sh
  hack/test.sh
  hack/verify-docs-index.sh
  test/utils/utils.go
Labels: reviewed/ok-to-test

#14 add secondary auth option for git configuration
  docs/storage/git.md
  pkg/config/config.go
  pkg/config/validation.go
  pkg/persist/git/git_persister.go
  pkg/utils/git/cmd_wrapper.go
  pkg/utils/git/git_suite_test.go
Labels: needs/ok-to-test, needs/review, size/s

#15 Make repo compliant
  .reuse/dep5
  CONTRIBUTING.md
  LICENSE
  LICENSES/Apache-2.0.txt
  LICENSES/CC-BY-4.0.txt
  README.md
Labels: area/ipcei, needs/review, needs/second-opinion, size/xl
